.nav {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}
.nav h1 {
    margin-left: 3vw;
    margin-right: 10vw;
}
.nav a {
    margin-right: 2vw;
}

.selectView{
    width: 120px;
}