body {
  margin: 0;
  top : 5%;
  font-family: "futura-pt","zen-kaku-gothic-new", sans-serif;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0);
font-weight: 400;
}

.right {
  width: 70%;
}

.left {
  width: 30%;
}

.left-content {
  position: fixed;
  top: 0;
}

.App {
  background-image: url(../public/img/background.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  display: flex;
}

.itemImg {
  width: 30vh;
}

.section h1 {
  margin-left: 50px;
  text-align: left;
}
.itemCards {
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;
}
.itemCards div {
  margin: 5px;
}

.itemInfo-name {
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-size: large;
  font-weight: 600;
}

.itemButton {
  background-color: rgba(255, 255, 0, 0);
  border: none;
  padding: 15px 5px;
  text-align: left;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.itemButton:hover {
  background-color: rgba(55, 249, 93, 0.5);
}

.detailImg {
  width: 300px;
}

.detail {
  display: flex;
}

.detailNavigation {
  height: 10%;
  bottom: 20px;
  position: fixed;
  /* background-color: aqua; */
  display: flex;
}
.detailPrice {
  background-color: rosybrown;
}

.count button {
  border: none;
  margin: 0px 15px;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
}

.detailButton button {
  border: none;
  margin: 0px 30px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0.5rem;
  color: white;
  background-color: rgba(23,142,59,1);
}

.total__total{
  display: flex;
  position: fixed;
  bottom: 5%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.total__title{
  display: flex;
  align-items: center;
  h1 {
    margin-right: 20px;
  }
}

.total__order{
  height:70vh;
  overflow-y: scroll;
}

.total__total button{
  position: fixed;
  border: none;
  margin: 0px 15px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  right : 40px;
}

.detailInfo {
  display: flex;
  width: 100%;
  height: 20%;
}
.backButton button{
  position: fixed;
  top: 5%;
  right: 5%;
  height: 8%;
  width: 7%;
  border: none;
  border-radius: 0.5rem;
}
.allergenView {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 15%;

}
.allergenIcons {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 23%;
  width: 330px;
}

.order {
  width :28vw;
}
.orderItem {
  display: flex;
  align-items: center;
}
.orderItem__info {
  width : 70%;
}
.orderItem__delete button {
  border: none;
  margin: 0px 15px;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
}